<h2>Step 1: Create an Oauth Client Application</h2>

<p>First we must create a client application. Clicking the button below will open a new tab, once you've created your first client app close that tab can come back to this one. and click
<%= link_to 'next', oauth_walkthrough_path(:grant_access) %></p>

<p><%= link_to 'Create Client Application', new_oauth_client_app_path, :class => 'btn btn-primary' %> </p>
<hr />
<p>
  Note: After finishing creating the client application you <strong>will</strong> have to come back to this page to go to the
</p>

<p><%= link_to 'Next Step', next_wizard_path, :class => 'btn btn-secondary' %> </p>
